<a href="https://colab.research.google.com/github/Vishnup211/Data-Cleaning/blob/main/Data_Cleaning_Dataset_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [18]:
df=pd.read_csv('ssq.csv')
df

     Age      Salary  Rating       Location  Established Easy Apply
0   44.0   $44k-$99k     5.4       India,In         1999       TRUE
1   66.0   $55k-$66k     3.5    New York,Ny         2002       TRUE
2    NaN   $77k-$89k    -1.0    New York,Ny           -1         -1
3   64.0   $44k-$99k     4.4       India In         1988         -1
4   25.0   $44k-$99k     6.4  Australia Aus         2002         -1
5   44.0   $77k-$89k     1.4       India,In         1999       TRUE
6   21.0   $44k-$99k     0.0    New York,Ny           -1         -1
7   44.0   $44k-$99k    -1.0  Australia Aus           -1         -1
8   35.0   $44k-$99k     5.4    New York,Ny           -1         -1
9   22.0   $44k-$99k     7.7       India,In           -1       TRUE
10  55.0   $10k-$49k     5.4       India,In         2008       TRUE
11  44.0   $10k-$49k     6.7       India,In         2009         -1
12   NaN   $44k-$99k     0.0       India,In         1999         -1
13  25.0   $44k-$99k    -1.0  Australia Aus         2019       TRUE
14  66.0   $44k-$99k     4.0  Australia Aus         2020       TRUE
15  44.0  $88k-$101k     3.0  Australia Aus         1999         -1
16  19.0   $19k-$40k     4.5       India,In         1984         -1
17   NaN   $44k-$99k     5.3    New York,Ny         1943       TRUE
18  35.0   $44k-$99k     6.7    New York,Ny         1954       TRUE
19  32.0   $44k-$99k     3.3    New York,Ny         1955       TRUE
20   NaN   $44k-$99k     5.7    New York,Ny         1944       TRUE
21  35.0   $44k-$99k     5.0    New York,Ny         1946         -1
22  19.0   $55k-$66k     7.8    New York,Ny         1988       TRUE
23   NaN   $44k-$99k     2.4    New York,Ny         1999       TRUE
24  13.0   $44k-$99k    -1.0    New York,Ny         1987         -1
25  55.0   $44k-$99k     0.0  Australia Aus         1980       TRUE
26   NaN   $55k-$66k     NaN       India,In         1934       TRUE
27  52.0   $44k-$99k     5.4       India,In         1935         -1
28   NaN   $39k-$88k     3.4  Australia Aus         1932         -1

In [19]:
df=df.drop_duplicates()
df

     Age      Salary  Rating       Location  Established Easy Apply
0   44.0   $44k-$99k     5.4       India,In         1999       TRUE
1   66.0   $55k-$66k     3.5    New York,Ny         2002       TRUE
2    NaN   $77k-$89k    -1.0    New York,Ny           -1         -1
3   64.0   $44k-$99k     4.4       India In         1988         -1
4   25.0   $44k-$99k     6.4  Australia Aus         2002         -1
5   44.0   $77k-$89k     1.4       India,In         1999       TRUE
6   21.0   $44k-$99k     0.0    New York,Ny           -1         -1
7   44.0   $44k-$99k    -1.0  Australia Aus           -1         -1
8   35.0   $44k-$99k     5.4    New York,Ny           -1         -1
9   22.0   $44k-$99k     7.7       India,In           -1       TRUE
10  55.0   $10k-$49k     5.4       India,In         2008       TRUE
11  44.0   $10k-$49k     6.7       India,In         2009         -1
12   NaN   $44k-$99k     0.0       India,In         1999         -1
13  25.0   $44k-$99k    -1.0  Australia Aus         2019       TRUE
14  66.0   $44k-$99k     4.0  Australia Aus         2020       TRUE
15  44.0  $88k-$101k     3.0  Australia Aus         1999         -1
16  19.0   $19k-$40k     4.5       India,In         1984         -1
17   NaN   $44k-$99k     5.3    New York,Ny         1943       TRUE
18  35.0   $44k-$99k     6.7    New York,Ny         1954       TRUE
19  32.0   $44k-$99k     3.3    New York,Ny         1955       TRUE
20   NaN   $44k-$99k     5.7    New York,Ny         1944       TRUE
21  35.0   $44k-$99k     5.0    New York,Ny         1946         -1
22  19.0   $55k-$66k     7.8    New York,Ny         1988       TRUE
23   NaN   $44k-$99k     2.4    New York,Ny         1999       TRUE
24  13.0   $44k-$99k    -1.0    New York,Ny         1987         -1
25  55.0   $44k-$99k     0.0  Australia Aus         1980       TRUE
26   NaN   $55k-$66k     NaN       India,In         1934       TRUE
27  52.0   $44k-$99k     5.4       India,In         1935         -1
28   NaN   $39k-$88k     3.4  Australia Aus         1932         -1

In [17]:
df.head()

    Age     Salary  Rating       Location Established
0  44.0  $44k-$99k     5.4       India,In        1999
1  66.0  $55k-$66k     3.5    New York,Ny        2002
2   NaN  $77k-$89k    -1.0    New York,Ny          -1
3  64.0  $44k-$99k     4.4       India In        1988
4  25.0  $44k-$99k     6.4  Australia Aus        2002

In [14]:
df.tail()

     Age     Salary  Rating       Location Established
24  13.0  $44k-$99k    -1.0    New York,Ny        1987
25  55.0  $44k-$99k     0.0  Australia Aus        1980
26   NaN  $55k-$66k     NaN       India,In        1934
27  52.0  $44k-$99k     5.4       India,In        1935
28   NaN  $39k-$88k     3.4  Australia Aus        1932

In [20]:
df.shape

(29, 6)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          22 non-null     float64
 1   Salary       29 non-null     object
 2   Rating       28 non-null     float64
 3   Location     29 non-null     object
 4   Established  29 non-null     int64
 5   Easy Apply   29 non-null     object
dtypes: float64(2), int64(1), object(3)
memory usage: 1.5+ KB

In [22]:
print('Total Null Values',df.isnull().sum().sum())
print()
print(df.isnull().sum())

Total Null Values 8

Age            7
Salary         0
Rating         1
Location       0
Established    0
Easy Apply     0
dtype: int64

In [23]:
df.columns

Index(['Age', 'Salary', 'Rating', 'Location', 'Established', 'Easy Apply'], dtype='object')

In [24]:
df.columns=df.columns.str.lower().str.replace(" ","_")

In [25]:
df.columns

Index(['age', 'salary', 'rating', 'location', 'established', 'easy_apply'], dtype='object')

In [26]:
print(df.age.mean())
df['age']=df.age.fillna(df.age.mean())
df['age']=df.age.round(decimals=1)
df

39.04545454545455

     age      salary  rating       location  established easy_apply
0   44.0   $44k-$99k     5.4       India,In         1999       TRUE
1   66.0   $55k-$66k     3.5    New York,Ny         2002       TRUE
2   39.0   $77k-$89k    -1.0    New York,Ny           -1         -1
3   64.0   $44k-$99k     4.4       India In         1988         -1
4   25.0   $44k-$99k     6.4  Australia Aus         2002         -1
5   44.0   $77k-$89k     1.4       India,In         1999       TRUE
6   21.0   $44k-$99k     0.0    New York,Ny           -1         -1
7   44.0   $44k-$99k    -1.0  Australia Aus           -1         -1
8   35.0   $44k-$99k     5.4    New York,Ny           -1         -1
9   22.0   $44k-$99k     7.7       India,In           -1       TRUE
10  55.0   $10k-$49k     5.4       India,In         2008       TRUE
11  44.0   $10k-$49k     6.7       India,In         2009         -1
12  39.0   $44k-$99k     0.0       India,In         1999         -1
13  25.0   $44k-$99k    -1.0  Australia Aus         2019       TRUE
14  66.0   $44k-$99k     4.0  Australia Aus         2020       TRUE
15  44.0  $88k-$101k     3.0  Australia Aus         1999         -1
16  19.0   $19k-$40k     4.5       India,In         1984         -1
17  39.0   $44k-$99k     5.3    New York,Ny         1943       TRUE
18  35.0   $44k-$99k     6.7    New York,Ny         1954       TRUE
19  32.0   $44k-$99k     3.3    New York,Ny         1955       TRUE
20  39.0   $44k-$99k     5.7    New York,Ny         1944       TRUE
21  35.0   $44k-$99k     5.0    New York,Ny         1946         -1
22  19.0   $55k-$66k     7.8    New York,Ny         1988       TRUE
23  39.0   $44k-$99k     2.4    New York,Ny         1999       TRUE
24  13.0   $44k-$99k    -1.0    New York,Ny         1987         -1
25  55.0   $44k-$99k     0.0  Australia Aus         1980       TRUE
26  39.0   $55k-$66k     NaN       India,In         1934       TRUE
27  52.0   $44k-$99k     5.4       India,In         1935         -1
28  39.0   $39k-$88k     3.4  Australia Aus         1932         -1

In [29]:
df["established"]=df['established'].replace(-1,np.nan)
df["established"].fillna('Unknown',inplace=True)

In [30]:
df

     age      salary  rating       location established easy_apply
0   44.0   $44k-$99k     5.4       India,In      1999.0       TRUE
1   66.0   $55k-$66k     3.5    New York,Ny      2002.0       TRUE
2   39.0   $77k-$89k    -1.0    New York,Ny     Unknown         -1
3   64.0   $44k-$99k     4.4       India In      1988.0         -1
4   25.0   $44k-$99k     6.4  Australia Aus      2002.0         -1
5   44.0   $77k-$89k     1.4       India,In      1999.0       TRUE
6   21.0   $44k-$99k     0.0    New York,Ny     Unknown         -1
7   44.0   $44k-$99k    -1.0  Australia Aus     Unknown         -1
8   35.0   $44k-$99k     5.4    New York,Ny     Unknown         -1
9   22.0   $44k-$99k     7.7       India,In     Unknown       TRUE
10  55.0   $10k-$49k     5.4       India,In      2008.0       TRUE
11  44.0   $10k-$49k     6.7       India,In      2009.0         -1
12  39.0   $44k-$99k     0.0       India,In      1999.0         -1
13  25.0   $44k-$99k    -1.0  Australia Aus      2019.0       TRUE
14  66.0   $44k-$99k     4.0  Australia Aus      2020.0       TRUE
15  44.0  $88k-$101k     3.0  Australia Aus      1999.0         -1
16  19.0   $19k-$40k     4.5       India,In      1984.0         -1
17  39.0   $44k-$99k     5.3    New York,Ny      1943.0       TRUE
18  35.0   $44k-$99k     6.7    New York,Ny      1954.0       TRUE
19  32.0   $44k-$99k     3.3    New York,Ny      1955.0       TRUE
20  39.0   $44k-$99k     5.7    New York,Ny      1944.0       TRUE
21  35.0   $44k-$99k     5.0    New York,Ny      1946.0         -1
22  19.0   $55k-$66k     7.8    New York,Ny      1988.0       TRUE
23  39.0   $44k-$99k     2.4    New York,Ny      1999.0       TRUE
24  13.0   $44k-$99k    -1.0    New York,Ny      1987.0         -1
25  55.0   $44k-$99k     0.0  Australia Aus      1980.0       TRUE
26  39.0   $55k-$66k     NaN       India,In      1934.0       TRUE
27  52.0   $44k-$99k     5.4       India,In      1935.0         -1
28  39.0   $39k-$88k     3.4  Australia Aus      1932.0         -1

In [31]:
df.location.astype

<bound method NDFrame.astype of 0          India,In
1       New York,Ny
2       New York,Ny
3          India In
4     Australia Aus
5          India,In
6       New York,Ny
7     Australia Aus
8       New York,Ny
9          India,In
10         India,In
11         India,In
12         India,In
13    Australia Aus
14    Australia Aus
15    Australia Aus
16         India,In
17      New York,Ny
18      New York,Ny
19      New York,Ny
20      New York,Ny
21      New York,Ny
22      New York,Ny
23      New York,Ny
24      New York,Ny
25    Australia Aus
26         India,In
27         India,In
28    Australia Aus
Name: location, dtype: object>

In [32]:
df['location']= df['location'].str.replace("Australia Aus", "Australia, Aus")
df['location_city'] = df['location'].str.split(",", expand=True).get(0)
df['city_sign'] = df['location'].str.split(",", expand=True).get(1)
df.drop('location', inplace=True, axis=1)

In [33]:
df

     age      salary  rating established easy_apply location_city city_sign
0   44.0   $44k-$99k     5.4      1999.0       TRUE         India        In
1   66.0   $55k-$66k     3.5      2002.0       TRUE      New York        Ny
2   39.0   $77k-$89k    -1.0     Unknown         -1      New York        Ny
3   64.0   $44k-$99k     4.4      1988.0         -1      India In      None
4   25.0   $44k-$99k     6.4      2002.0         -1     Australia       Aus
5   44.0   $77k-$89k     1.4      1999.0       TRUE         India        In
6   21.0   $44k-$99k     0.0     Unknown         -1      New York        Ny
7   44.0   $44k-$99k    -1.0     Unknown         -1     Australia       Aus
8   35.0   $44k-$99k     5.4     Unknown         -1      New York        Ny
9   22.0   $44k-$99k     7.7     Unknown       TRUE         India        In
10  55.0   $10k-$49k     5.4      2008.0       TRUE         India        In
11  44.0   $10k-$49k     6.7      2009.0         -1         India        In
12  39.0   $44k-$99k     0.0      1999.0         -1         India        In
13  25.0   $44k-$99k    -1.0      2019.0       TRUE     Australia       Aus
14  66.0   $44k-$99k     4.0      2020.0       TRUE     Australia       Aus
15  44.0  $88k-$101k     3.0      1999.0         -1     Australia       Aus
16  19.0   $19k-$40k     4.5      1984.0         -1         India        In
17  39.0   $44k-$99k     5.3      1943.0       TRUE      New York        Ny
18  35.0   $44k-$99k     6.7      1954.0       TRUE      New York        Ny
19  32.0   $44k-$99k     3.3      1955.0       TRUE      New York        Ny
20  39.0   $44k-$99k     5.7      1944.0       TRUE      New York        Ny
21  35.0   $44k-$99k     5.0      1946.0         -1      New York        Ny
22  19.0   $55k-$66k     7.8      1988.0       TRUE      New York        Ny
23  39.0   $44k-$99k     2.4      1999.0       TRUE      New York        Ny
24  13.0   $44k-$99k    -1.0      1987.0         -1      New York        Ny
25  55.0   $44k-$99k     0.0      1980.0       TRUE     Australia       Aus
26  39.0   $55k-$66k     NaN      1934.0       TRUE         India        In
27  52.0   $44k-$99k     5.4      1935.0         -1         India        In
28  39.0   $39k-$88k     3.4      1932.0         -1     Australia       Aus

In [34]:
df['rating'] = df["rating"].replace(-1,np.nan)
df['rating'] = df["rating"].fillna(df['rating'].mean()).round(decimals=1)

In [35]:
df['easy_apply'] = df['easy_apply'].replace("-1", "False")

In [36]:
df['salary'].iloc[0]
df['salary'] = df['salary'].apply(lambda x:x.replace("$",''))
df['salary'] = df['salary'].apply(lambda x:x.replace("k",''))

In [37]:
df

     age  salary  rating established easy_apply location_city city_sign
0   44.0   44-99     5.4      1999.0       TRUE         India        In
1   66.0   55-66     3.5      2002.0       TRUE      New York        Ny
2   39.0   77-89     4.3     Unknown      False      New York        Ny
3   64.0   44-99     4.4      1988.0      False      India In      None
4   25.0   44-99     6.4      2002.0      False     Australia       Aus
5   44.0   77-89     1.4      1999.0       TRUE         India        In
6   21.0   44-99     0.0     Unknown      False      New York        Ny
7   44.0   44-99     4.3     Unknown      False     Australia       Aus
8   35.0   44-99     5.4     Unknown      False      New York        Ny
9   22.0   44-99     7.7     Unknown       TRUE         India        In
10  55.0   10-49     5.4      2008.0       TRUE         India        In
11  44.0   10-49     6.7      2009.0      False         India        In
12  39.0   44-99     0.0      1999.0      False         India        In
13  25.0   44-99     4.3      2019.0       TRUE     Australia       Aus
14  66.0   44-99     4.0      2020.0       TRUE     Australia       Aus
15  44.0  88-101     3.0      1999.0      False     Australia       Aus
16  19.0   19-40     4.5      1984.0      False         India        In
17  39.0   44-99     5.3      1943.0       TRUE      New York        Ny
18  35.0   44-99     6.7      1954.0       TRUE      New York        Ny
19  32.0   44-99     3.3      1955.0       TRUE      New York        Ny
20  39.0   44-99     5.7      1944.0       TRUE      New York        Ny
21  35.0   44-99     5.0      1946.0      False      New York        Ny
22  19.0   55-66     7.8      1988.0       TRUE      New York        Ny
23  39.0   44-99     2.4      1999.0       TRUE      New York        Ny
24  13.0   44-99     4.3      1987.0      False      New York        Ny
25  55.0   44-99     0.0      1980.0       TRUE     Australia       Aus
26  39.0   55-66     4.3      1934.0       TRUE         India        In
27  52.0   44-99     5.4      1935.0      False         India        In
28  39.0   39-88     3.4      1932.0      False     Australia       Aus